.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}
body{
  background: var(--Very-Dark-Blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-1, .box-2{
  background: var(--Dark-Blue);
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
}
.box-1 > div > img{
  padding: 10px;
  border-radius: 50%;
  /* border: 1px solid white; */
  background: hsla(211, 16%, 26%, 0.642);
  margin-bottom: 20px;
}
h3{
  color: white;
}
p{
  color: rgba(255, 255, 255, 0.309);
}
.buttons-div > button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: hsla(211, 16%, 26%, 0.642);
  color: white;
}
.box-1 > p{
  margin: 15px 0;
}