@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 13px;
}
.attribution a {
  color: skyblue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}
body{
  background: var(--Very-Dark-Blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Overpass, sans-serif;
  font-size: 15px;
}
.box-1, .box-2{
  background: var(--Dark-Blue);
  border-radius: 15px;
  padding: 20px;
  max-width: 350px;
}
.box-1 > div > img{
  padding: 10px;
  border-radius: 50%;
  /* border: 1px solid white; */
  background: hsla(211, 16%, 26%, 0.642);
  margin-bottom: 20px;
}
h3{
  color: white;
}
p{
  color: rgba(255, 255, 255, 0.309);
}
.buttons-div > button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: hsla(211, 16%, 26%, 0.642);
  color: white;
  cursor: pointer;
}
.buttons-div{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid white; */
}
.box-1 > p{
  margin: 15px 0;
}
.submit-button{
  width: 100%;
  margin-top: 25px;
  font-size: 12px;
  padding: 10px 0;
  background: var(--Orange);
  border: none;
  border-radius: 15px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}
.submit-button:hover{
  background: white;
  color: var(--Orange);
}
.buttons-div .btn:hover{
  background: var(--Orange);
}
.box-1 > .buttons-div > .btn:focus{
  background-color: hsl(217, 12%, 63%);
}
.box-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.box-2 p{
  margin-bottom: 20px;
}
.rate-again{
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: var(--Orange);
  color: white;
}
.rate-again:hover{
  background: white;
  letter-spacing: 1px;
  color: black;
}
.selected-rating{
  padding: 10px 20px;
  display: inline-block;
  color: var(--Orange);
  /* border: 1px solid white; */
  border-radius: 20px;
  background: hsla(217, 12%, 63%, 0.319);
}
.hidden{
  display: none;
}
